# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# ======================
# ML / Models
# ======================
*.h5
*.keras
*.weights.h5

# ======================
# Data
# ======================
*.csv
*.parquet
data/

# ======================
# Logs / Outputs
# ======================
*.log
*.out
*.txt

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Secrets
# ======================
config.py
.env